* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ADD8E6;
}

.field {
    width: 650px;
    background-color: white;
    border: none;
    border-radius: 15px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.form-container {
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
}

.field form {
    display: grid;
    grid-template-columns: 1fr;
}

.position_lab {
    display: grid;
    grid-template-columns: 1fr;
    width: 600px;
    margin: 25px;
}

.content_sub {
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 15px;
}

.dt {
    margin-top: -25px;
}

input[type='text'] {
    margin-top: 7px;
    border: none;
    text-align: center;
    padding: 6px 15px;
    color: #808080;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

input[type='text']:focus {
    border: 2px #ccc solid;
    outline: none;
}

input[type='date'] {
    width: 300px;
    margin-left: 50px;
    padding: 4px 10px;
    border: none;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    color: #808080;
    text-align: center;
}

input[type='date']:focus {
    border: 2px #ccc solid;
    outline: none;
}


/* CSS */

.button-81 {
    width: 150px;
    text-transform: capitalize;
    background-color: #fff;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #808080;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-81:hover {
    background-color: #ccc;
    color: #fff;
}

@media (min-width: 768px) {
    .button-81 {
        font-size: 15px;
        padding: 10px 10px;
    }
}